---
layout: layouts/home-layout.liquid
pageTitle: about source GmbH
---
<div class="d-flex flex-column text-center justify-content-center vh-100">
  <h1 class="main-title"><span class="glitch" data-text="about">about</span>source</h1>
  <p class="sub-title">Software-Entwicklung für den gesellschaftlichen<br> Wandel</p>
</div>
