$primary: white;
$secondary: #c0c0c0;
$brand-color: #9a0d30;
$background-color: white;
$link-color: $brand-color;
$text-color: darken($brand-color, $amount: 25%);

$nav-link-padding-y: 1rem;
$card-border-radius : 0;
