<footer class="footer py-2">
<div class="container">
  <a href="/">Home</a>
  <a href="/jobs">Jobs</a>
  <a href="/impressum">Kontakt/Impressum</a>
  <a href="/privacy">Privacy Policy</a>
  </div>
</footer>
