<footer class="footer bg-secondary pt-4 pb-4">
<div class="container">
  <h2 id="contact">Kontakt</h2>
  <div class="row">
    <div class="col-sm mb-3">
      <strong>about source GmbH</strong>
      <a target="_blank" rel="noopener" title="about source GmbH in Google Maps" href="https://goo.gl/maps/RLmmRXv4qT6jrXyC6"><i class="fas fa-map-marker-alt"></i></a><br>
      Klingenstr. 22<br>
      04229 Leipzig<br>

    </div>

    <div class="col-sm mb-3">
      <strong>Geschäftsführer</strong><br>
      Florian Bertsch<br>
      Leonhard Kugler
    </div>

    <div class="col-sm mb-3">
      <strong>E-Mail</strong><br>
      <a href="mailto:kontakt@aboutsource.net">kontakt@aboutsource.net</a><br><br>
      <a href="/impressum" title="Impressum und Datenschutz"><strong>Impressum und Datenschutz</strong></a>
    </div>
  </div>
</div>
</footer>
