<header class="header">
  <div class="main-menu bg-dark">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a href="/" class="nav-link text-light">Home</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link text-light">Kontakt</a>
        </li>
        <li class="nav-item">
          <a href="/impressum" class="nav-link text-light">Impressum</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="logo py-4">
    <div class="container">
      <img src="/assets/images/logo.png" alt="about:source logo">
    </div>
  </div>
</header>
