<header class="header">
  <div class="logo py-4">
    <div class="container">
      <a href="/" title="Home">
        <h1 class="main-title"><span class="glitch" data-text="about">about</span>source</h1>
      </a>
    </div>
  </div>
</header>
