<header class="header">
  <div class="logo py-4">
    <div class="container">
      <a href="/" title="Home">
        <img src="/assets/images/logo.png" alt="about:source logo">
      </a>
    </div>
  </div>
</header>
